.registration {
	align-items: center;
	border: 2px solid rgb(78, 146, 179);
	display: flex;
	flex-direction: column;
	gap: 15px;
	justify-content: center;
	margin-top: 15px;
	height: 100%;
	padding: 15px;
	&-form {
		display: flex;
		flex-direction: column;
		gap: 15px;
		justify-content: center;
		width: 30%;
		&__title {
			text-align: center;
		}
		&__input {
			height: 50px;
			width: 100%;
		}
		&__button {
			display: flex;
			justify-content: center;
		}
		&__text {
			text-align: center;
		}
	}
	& .badResponse {
		outline: 2px dashed rgb(255, 0, 0);
		outline-offset: 5px;
	}
	& .badResponseMessage {
		color: rgb(255, 0, 0);
		font-size: 12px;
		margin-top: 5px;
		text-align: center;
		width: 100%;
	}
}